:root {
    --primary: #121f3d;
    --white: #fff;
    --gray: #2a324b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: lighter;
    color: var(--white);
    background-color: var(--primary);
    height: 100vh;
}

.nav {
    border-bottom: 1px solid var(--gray);
}

.nav__checkbox{
    display: none;
}

.nav__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0 1rem;
    right: 0;
}

.nav__toggle svg {
    width: 1rem;
    fill: var(--white);
}

.nav__toggle .close {
    display: none;
}

.nav__toggle .close,
.nav__toggle .menu {
    margin-top: 0.3rem;
}

.nav__menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

.nav__menu li {
    display: none;
    list-style-type: none;
}

.nav__menu li:first-child {
    display: blocK;
    margin-right: auto;
}

.nav__menu a {
    color: inherit;
    font-size: 1.1rem;
    text-decoration: none;
}

.menu__logo {
    height: 30px;
}

.menu__logo img {
    height: 100%;
}

#nav__checkbox:checked ~ ul.nav__menu li {
    display: block;
}

#nav__checbox:checked ~ label.nav__toggle .close {
    display: block;
}

#nav__checbox:checked ~ label.nav__toggle .menu {
    display: none;
}